<div class="p-5">
    <div class="container content-container p-5">
        <h1>
            Vores mission - Vores lod i livet
        </h1>
        <hr>
        <p><i>Siden tiders morgen har mennesket kæmpet mod naturens kræfter. Og vores kamp er ikke slut endnu.</i></p>
        <section>
            <h2>Kampen mod naturen</h2>
            <hr>
            <p>Det menneskelige behov for RegnerDet.Nu services bunder i urmenneskets naturlige stræben for at sikre sin overlevelse i den evige kamp mod naturen. RegnerDet.Nu søger at udfylde dét tomhuld i det nuværende marked for live-opdatering med usikre vejr estimater.</p>
            <p>Præcise vejrestimater er en af de vigtigeste aspekter i det moderne menneskes overlevelse og sociale velvære. Vi kender det alle og mærker vi dybt efter, ved vi at dette behov ikke mødes af nuværende service udbydere.</p>
        </section>
        <section>
            <h2>Kampen for klimaet</h2>
            <hr>
            <p>RegnerDet.nu er ikke alene i dets kamp for klimaet. Vi erkender de globale problematikker og konsekvenser deraf. RegnerDet.Nu er 100 % dedikeret til at forholde sig til de problemer klimaændringerne medfører, men vores <i>Corporate Social Responsibility stopper ikke her.</i></p>
            <h5>Aktiv deltagelse i klimakampen</h5>
            <p>Hos RegnerDet.Nu er vi ikke blot klar til at tage ansvar, vi er også klar til erkende problematikkerne. Vi har siden vores start været <strong>stærkt</strong> præget af, hvordan vores forretning påvirker klimaet.</p>
            <h5>En grøn arbejdsplads</h5>
            <p>Den aktive kamp for klimaet foregår ikke kun i hjemmet eller hos vores kære folkevalgte. Det private arbejdsmarked er en vigtig faktor for en bedre fremtid. RegnerDet.Nu har et klart standpunkt og går ikke på kompromis for dette.</p>
            <p>Den daglige drift hos RegnerDet.Nu er derfor gennemsyret af dette standpunkt for at sikre, at effekten er med til at sikre fremgang - Fremgang kommer ikke af sig <strong>selv!</strong></p>
            <h5>Greenwashing</h5>
            <p>Hos RegnerDet.Nu er vi opmærksomme på udfordringen med Greenwashing. De partnerskaber vi er en del af, er derfor blevet gennemgået for at sikre, at deres arbejde har en reel effekt på klimaet. </p>
        </section>
        <section>
            <h2>Kampen for social ulighed</h2>
            <hr>
            <p>TBD</p>
            <p>Note to self: <i>Ask Mahmed. He may have an idea about this.</i></p>
        </section>
        <section>
            <h2>Lad os gøre verdenen et bedre sted!</h2>
            <hr>
            <p>Kampen for at gøre verdenen et bedre sted, er en evig kamp mod magstrukturer, kognitive narativer og individets eget selvbeherskelse mod neoliberalistisk social darwinisme.</p>
        </section>
    </div>
</div>